<footer>
	<div class="footer-container">
		<p>
			Brought to the world by yours truly, Sander Sitkin.<br>
			&#169 Sander Sitkin {{ site.time | date: "%Y" }}, all rights reserved.<br>
		</p>
		<div class="socials">
			<a class="fa-brands fa-facebook" href="https://facebook.com/sandersitkin" target="_blank" rel="nofollow" title="Facebook"></a>
			<a class="fa-brands fa-instagram" href="https://instagram.com/sandersitkin" target="_blank" rel="nofollow" title="Instagram"></a>
			<a class="fa-brands fa-github" href="https://github.com/sandersitkin" target="_blank" rel="nofollow" title="GitHub"></a>
		</div>
	</div>
</footer>
