<footer>
	<div class="footer-container">
		<p>Brought to the world by yours truly, Sander Sitkin.<br>&copy; Sander Sitkin {{ site.time | date: "%Y" }}, all rights reserved.</p>
		<ul class="socials">
			<li>
				<a href="https://facebook.com/sandersitkin" target="_blank" rel="noreferrer" title="Facebook">
					<i class="fa-brands fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/sandersitkin" target="_blank" rel="noreferrer" title="Instagram">
					<i class="fa-brands fa-instagram" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://youtube.com/@sandersitkin" target="_blank" rel="noreferrer" title="YouTube">
					<i class="fa-brands fa-youtube" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/sandersitkin" target="_blank" rel="noreferrer" title="GitHub">
					<i class="fa-brands fa-github" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>
