<header>
	<div class="header-container">
		<a class="menu-button">
			<span></span>
			<span></span>
		</a>
		<nav>
			<ul>
				{% for link in site.navigation %}
					{% assign current = nil %}

					{% if page.url == link.url %}
						{% assign current = ' aria-current="page"'%}
					{% endif %}

					<li><a{{ current }} href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<select class="theme-picker" id="theme-picker" title="Theme picker">
			<option value="system">System</option>
			<option value="light">Light</option>
			<option value="dark">Dark</option>
		</select>
	</div>
</header>
