:root {
	color-scheme: dark;
	--header-height: 64px;
	--content-max-width: 1280px;
}

*, *:before, *:after {
  	box-sizing: border-box;
}

body {
	background: #111111;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	min-width: 320px;
	min-height: 100svh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1, h2 {
	font-weight: 600;
	margin: 0;
}

h1 {
	font-size: 2rem;
}

p {
	margin: 0 0 1rem;
}

a {
	color: #ffffff;
}

strong {
	font-weight: 600;
}


/* Header */
header {
	background: #222222;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
	z-index: 2;
	-webkit-user-select: none;
	user-select: none;
}

.header-container {
	width: min(100% - 2rem, var(--content-max-width));
	height: var(--header-height);
	margin-inline: auto;
}


/* Navigation */
nav {
	float: left;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li a {
	padding: 0 1rem;
	text-decoration: none;
	height: var(--header-height);
	display: flex;
	align-items: center;
	opacity: 0.75;
	transition: opacity 0.1s;
}

nav ul li a[aria-current="page"] {
	padding-top: 0.5rem;
	border-bottom: 0.5rem solid #ffffff;
}

nav ul li a:hover, nav ul li a[aria-current="page"] {
	opacity: 1;
}


/* Main */
main {
	width: min(100% - 2rem, var(--content-max-width));
	margin-inline: auto;
	margin-bottom: 8rem;
}

main article {
	background: #222222;
	padding: 1.5rem;
	height: max-content;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

main p:last-child {
	margin: 0;
}


/* Footer */
footer {
	background: #222222;
	margin-top: auto;
}

.footer-container {
	width: min(100% - 4rem, var(--content-max-width));
	margin-inline: auto;
	text-align: center;
	padding: 3rem 0;
	font-size: 0.9rem;
	color: #999999;
}

.socials {
	display: flex;
	gap: 1rem;
	justify-content: center;
	-webkit-user-select: none;
	user-select: none;
}

.socials a {
	font-size: 24px;
	text-decoration: none;
}


/* Mobile support */
@media (width <= 768px) {
	body.show-menu {
		overflow: hidden;
	}

	body.show-menu .menu-button::after, body.show-menu .menu-button::before {
		opacity: 0;
	}

	body.show-menu .menu-button span {
		rotate: 45deg;
	}
	
	body.show-menu .menu-button span:nth-child(2) {
		rotate: -45deg;
	}
	
	body.show-menu nav ul {
		translate: 100%;
	}

	.header-container {
		width: calc(100% - 3rem);
		display: flex;
		align-items: center;
	}

	.menu-button {
		position: relative;
		width: 32px;
		height: 25px;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;
	}
	
	.menu-button::after, .menu-button::before, .menu-button span {
		content: "";
		background: #ffffff;
		height: 3px;
		position: absolute;
		left: 0;
		right: 0;
		transition: rotate 0.25s ease, opacity 0.25s ease;
	}

	.menu-button:after {
		bottom: 0;
	}

	.menu-button span {
		top: 11px;
	}

	nav ul {
		background: #111111;
		margin: 0;
		padding: 2rem;
		position: absolute;
		top: var(--header-height);
		left: -100vw;
		width: 100vw;
		height: calc(100svh - var(--header-height));
		font-size: 1.75rem;
		overflow-y: scroll;
		flex-direction: column;
		transition: translate 0.25s ease;
	}

	nav ul li {
		margin-bottom: 1rem;
	}

	nav ul li a, nav ul li a[aria-current="page"] {
		height: unset;
		padding: 0;
		border: 0;
	}
}
