:root {
	--header-height: 64px;
	--content-max-width: 1280px;
}

*,
*:before,
*:after {
  	box-sizing: border-box;
}

body {
	background-color: #111;
	color: white;
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	letter-spacing: 0;
	min-width: 320px;
	min-height: 100svh;
	padding-bottom: 192px;
	margin: 0;
	font-size: 16px;
	position: relative;
}

h1, h2 {
	font-weight: 600;
	margin: 0;
}

a {
	color: white;
}

strong {
	font-weight: 600;
}


/* Header */
header {
	background-color: #222;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
	margin: 0 auto 1rem;
	height: var(--header-height);
	position: sticky;
	top: 0;
	z-index: 2;
	color: inherit;
	-webkit-user-select: none;
	user-select: none;
}

.header-container {
	max-width: var(--content-max-width);
	height: 100%;
	margin: auto;
}


/* Navigation */
nav {
	float: left;
}

.nav-container {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-container li a {
	padding: 0 1rem;
	text-decoration: none;
	height: var(--header-height);
	display: flex;
	align-items: center;
	opacity: 0.75;
	transition: opacity 0.1s;
}

.nav-container li a[aria-current="page"] {
	border-block-end: 0.5rem solid;
	padding-block-start: 0.5rem;
	border-color: white;
}

.nav-container li a:hover, .nav-container li a[aria-current="page"] {
	opacity: 1;
}


/* Main */
main {
	max-width: var(--content-max-width);
	margin: auto;
	margin-bottom: 8rem;
}

main article {
	background-color: #222;
	padding: 1.5em;
	width: 100%;
	height: max-content;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

main h1 {
	font-size: 32px;
}

main p {
	margin: 0 0 1em;
}

main p:last-child {
	margin: 0;
}


/* Footer */
footer {
	background-color: #222;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer-container {
	max-width: var(--content-max-width);
	margin: auto;
	text-align: center;
	padding: 2rem;
	height: 192px;
	font-size: 0.9em;
	color: #999;
}

.socials {
	display: flex;
	gap: 1rem;
	justify-content: center;
	-webkit-user-select: none;
	user-select: none;
}

.socials a {
	font-size: 24px;
	text-decoration: none;
	width: 24px;
	opacity: 0.5;
}

.socials a:hover {
	opacity: 1;
    transition: opacity 0.1s;
}


/* Mobile support */
@media (max-width: 767px) {
	body.show-menu {
		overflow: hidden;
	}

	body.show-menu .menu-button::after, body.show-menu .menu-button::before {
		opacity: 0;
	}

	body.show-menu .menu-button span {
		-webkit-transform: rotate(45deg);
   		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		transition: transform 0.25s ease, -webkit-transform 0.25s ease, -o-transform 0.25s ease;
	}
	
	body.show-menu .menu-button span:nth-child(2) {
		-webkit-transform: rotate(-45deg);
   		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		transition: transform 0.25s ease, -webkit-transform 0.25s ease, -o-transform 0.25s ease;
	}
	
	body.show-menu .nav-container {
		transform: translateX(100%);
	}

	.header-container {
		display: flex;
		align-items: center;
	}

	.nav-container {
		background-color: #111;
		margin: 0;
		padding: 1.5rem;
		position: absolute;
		top: var(--header-height);
		left: 0;
		translate: -100%;
		width: 100%;
		height: calc(100svh - var(--header-height));
		font-size: 24px;
		overflow-y: scroll;
		flex-direction: column;
		transition: transform 0.25s ease;
	}

	.nav-container li a {
		padding: 10px 0;
		height: unset;
	}

	.nav-container li a[aria-current="page"] {
		border: 0;
	}

	.menu-button {
		position: relative;
		margin-left: 1.5rem;
		width: 35px;
		height: 25px;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;
	}
	
	.menu-button::after, .menu-button::before, .menu-button span {
		background-color: #ffffff;
		content: "";
		height: 3px;
		position: absolute;
		left: 0;
		right: 0;
		transition: transform 0.25s ease, opacity 0.25s ease;
	}

	.menu-button:after {
		bottom: 0;
	}

	.menu-button span {
		top: 11px;
	}
}
