:root {
	color-scheme: light dark;
	--header-height: 64px;
	--content-max-width: 1280px;
	--background-color: light-dark(#eeeeee, #111111);
	--container-color: light-dark(#ffffff, #222222);
	--text-color: light-dark(#111111, #ffffff);
	--secondary-text-color: light-dark(#666666, #999999);
}

[data-theme="light"] {
	color-scheme: light;
}

[data-theme="dark"] {
	color-scheme: dark;
}

*, *:before, *:after {
  	box-sizing: border-box;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	min-width: 320px;
	min-height: 100svh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--text-color);
}

h1 {
	font-size: 2rem;
}

h1, h2, p {
	margin: 0;
}

h1, h2, strong {
	font-weight: 600;
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

select {
	background-color: var(--background-color);
	font: inherit;
	padding: 0.5rem;
	border: 1px solid var(--secondary-text-color);
}

select:hover, select:focus {
	border-color: var(--text-color);
}


/* Header */
header {
	background: var(--container-color);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
	position: sticky;
	top: 0;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

.header-container {
	display: flex;
	width: min(100% - 2rem, var(--content-max-width));
	height: var(--header-height);
	margin-inline: auto;
	align-items: center;
}

.theme-picker {
	margin-left: auto;
}


/* Navigation */
nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li a {
	padding-inline: 1rem;
	text-decoration: none;
	height: var(--header-height);
	display: flex;
	align-items: center;
	opacity: 0.75;
	transition: opacity 0.1s;
}

nav ul li a[aria-current="page"] {
	padding-top: 0.5rem;
	border-bottom: 0.5rem solid var(--text-color);
}

nav ul li a:focus, nav ul li a:hover, nav ul li a[aria-current="page"] {
	opacity: 1;
}


/* Main */
main {
	width: min(100% - 2rem, var(--content-max-width));
	margin: 0 auto 8rem auto;
}

main article {
	background: var(--container-color);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
}


/* Footer */
footer {
	background: var(--container-color);
	margin-top: auto;
}

.footer-container {
	width: min(100% - 4rem, var(--content-max-width));
	margin-inline: auto;
	text-align: center;
	padding-block: 3rem;
	font-size: 0.9rem;
	color: var(--secondary-text-color);
}

.socials {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	-webkit-user-select: none;
	user-select: none;
}

.socials li a {
	display: block;
	font-size: 24px;
	text-decoration: none;
}


/* Mobile */
@media (width <= 768px) {
	body.show-menu {
		overflow: hidden;
	}

	body.show-menu .menu-button::before, body.show-menu .menu-button::after {
		opacity: 0;
	}

	body.show-menu .menu-button span {
		rotate: 45deg;
	}
	
	body.show-menu .menu-button span:nth-child(2) {
		rotate: -45deg;
	}
	
	body.show-menu nav ul {
		translate: 100%;
	}

	.header-container {
		width: calc(100% - 3rem);
	}

	.menu-button {
		position: relative;
		width: 32px;
		height: 25px;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;
	}
	
	.menu-button::before, .menu-button::after, .menu-button span {
		content: "";
		background: var(--text-color);
		height: 3px;
		position: absolute;
		left: 0;
		right: 0;
		transition: rotate 0.25s ease, opacity 0.25s ease;
	}

	.menu-button:after {
		bottom: 0;
	}

	.menu-button span {
		top: 11px;
	}

	nav ul {
		background: var(--background-color);
		padding: 2rem;
		position: absolute;
		top: var(--header-height);
		left: -100vw;
		width: 100vw;
		height: calc(100svh - var(--header-height));
		font-size: 1.75rem;
		overflow-y: scroll;
		flex-direction: column;
		transition: translate 0.25s ease;
	}

	nav ul li {
		margin-bottom: 1rem;
	}

	nav ul li a, nav ul li a[aria-current="page"] {
		height: unset;
		padding: 0;
		border: 0;
	}
}
